body {
  background-color: aliceblue;
}

h1 {
  font-family: DejaVu Sans Mono, monospace;
}

div {
  margin: 10em;
  width: 30%;
  height: 30%;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
