@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");
@import url("/reset.css");

.body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  margin: 0;
}

.flex {
  display: flex;
}

.site-container {
  max-width: 1152px;
  margin: 0 auto;
}


.container {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 148px;
  padding-right: 148px;
}

.header__container {
  justify-content: end;
  padding-bottom: 60px;
}

.header__menu {
  padding-right: 60px;
}

.menu {

}

.menu__icon {
  display: none;

}

.menu__body {

}

.menu__list {
  list-style: none;
  display: flex;
}

.menu__link {
  color:#000;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 0px 0px 35px;
}

.menu__link:hover {
  text-decoration: underline;
}

.about__item-text {
  width: 60%;
}

.about__item-img {
  padding-top: 15px;
  width: 40%;
  display: flex;
  justify-content:end;
  align-items: flex-start;
}
.about__img {
  border-radius: 50%;
  width: 243px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1px;
}

.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 0;
}

.description {
  margin-top: 22px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about__btn {
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff6464;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  border-radius: 2px;
  width: 208px;
  height: 47px;
  margin-top: 0;
  margin-bottom: 10px;
  
}

.btn--active:hover {
  background: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}


.skills__container {
  background-color: #edf7fa;
}

.skills-item {
}

.second-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-top: -45px;
}

.favorite-places__container {
  /* background-color: cornflowerblue; */
}

.fp-item {
  width: 50%;
}

.social__container {
  text-align: center;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  padding-top: 1em;
  display: inline-block;
  margin: 5px;
  margin-bottom: 0;
}


@media (max-width: 900px) {
  .flex {
    flex-direction: column-reverse;
  }

  .container {
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 33px;
    padding-bottom: 59px;
    text-align: center;
  }

  .about-item {
    width: 100%;
    display: block;
  }

  .about__img {
    max-width: 70%;
  }

  .about__title {
    font-size: 32px;
    line-height: 40px;
    margin-top: 30px;
  }

  .second-title {
    margin-top: 0;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;

  }
}